# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
#/api/migrations
#/chat/migrations
#/comments/migrations
#/communitychannel/migrations
#/forum/migrations
#/helper/migrations
#/lor/migrations
#/monitorsolution/migrations
#/post/migrations
#/prototypetest/migrations
#/smartcontract/migrations
#/solutions/migrations
#/updateapi/migrations
#/users/migrations
#/wiki/migrations


/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
# .DS_Store
# .env.local
# .env.development.local
# .env.test.local
# .env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

db.sqlite3
__pycache__/
local_settings.py
db.sqlite3
media

*.log
*.pot
*.pyc