 @media only screen and (min-width: 600px)  {
    .sidebar {
        Width: 100%;
        }
 }
 @media only screen and (min-width: 800px)  {
    .sidebar {
        Width: 100%;
        }
 }

 
 .dot {
    height: 12px;
    width: 12px;
    background-color: #000;
    border-radius: 50%;
    display: inline-block;
  }



  .box2:hover {
   box-shadow: 0 0 15px rgba(33,33,33,.2); 
 }
 .box2 {
   transition: box-shadow .6s;
   width: 420px;
   height: 170px; 
   border-radius:10px;
   /*border: 1px solid #ccc;*/
   background: #fff;
   /*float: left; */
   
 }

 .tags {
   list-style: none;
   margin: 0;
   overflow: hidden; 
   padding: 0;
 }
 
 .tags li {
   float: left; 
 }
 
 .tag {
   background: crimson;
   border-radius: 3px 0 0 3px;
   color: crimson;
   display: inline-block;
   height: 26px;
   line-height: 26px;
   padding: 0 20px 0 23px;
   position: relative;
   margin: 0 10px 10px 0;
   text-decoration: none;
   -webkit-transition: color 0.2s;
 }
 
 .tag::before {
   background:#fff;
   border-radius: 10px;
   box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
   content: '';
   height: 6px;
   left: 10px;
   position: absolute;
   width: 6px;
   top: 10px;
 }
 
 .tag::after {
   background: #fff;
   border-bottom: 13px solid transparent;
   border-left: 10px solid crimson;
   border-top: 13px solid transparent;
   content: '';
   position: absolute;
   right: 0;
   top: 0;
 }
 
