.split {
    height: 100vh;
    display: flex;
    color: white;
  }
  
  .left {
    width: 35%;
    background-color: black;
  }
  
  .right {
    width: 65%;
    background-color: #eaf3f3;
    padding: 25px 20px;
    
  }

  .PageSwitcher {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    text-decoration: none;
  }
  
  .PageSwitcher__Item {
    background-color: rgb(13, 13, 14);
    color: white;
    padding: 10px 25px;
    cursor: pointer;
    font-size: .9em;
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
  }
  
  .PageSwitcher__Item--Active {
    background-color: lightseagreen;
    color: white;
  }
  
  .PageSwitcher__Item:first-child {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
  }
  .PageSwitcher__Item:last-child {
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
  }

  .FormCenter {
    padding-top: 5%;
    margin-bottom: 85px;
  }

  .FormField__Label {
    display: block;
    text-transform: uppercase;
    font-size: .9em;
    color: black;
  }
  .FormField__Input {
    width: 85%;
    background-color: transparent;
    border: none;
    color: black;
    outline: none;
    border-bottom: 1px solid #445366;
    font-size: 1em;
    font-weight: 300;
    padding-bottom: 10px;
    margin-top: 10px;
  }

  .FormField__Button {
    background-color: lightseagreen;
    margin-top: 40px;
    color: white;
    border: none;
    outline: none;
    border-radius: 25px;
    padding: 15px 70px;
    font-size: .8em;
    font-weight: 500;
  }
  .image {
    padding-top: 5%;
}
